/* GENERAL STILE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.my-contact button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #00ff08;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

button:hover,
form .to-send input:hover {
  box-shadow: 0px 0px 8px #00ff08;
  transform: scale(1.1)
}

h2.title {
  padding: 40px;
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.title span {
  color: #00ff08;
}

.logo i {
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid #00ff08;
  color: #00ff08;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.social-media button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

/*STYLE HEADER*/

header {
  padding: 40px;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.1);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 50px;
}

/* MENU MOBILE STYLE*/

.button-open i{
  color: #00ff08;
  font-size: 40px;

}

.menu-mobile {
  background: black;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.open-menu {
  width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu{
  display: block;

}

.menu-mobile .button-close {
  padding: 20px 8%;
}

.menu-mobile .button-close i {
  color: #00ff08;
  font-size: 30px;

}

.menu-mobile nav ul{
  text-align: right;
}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 24px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: #00ff08;
  color: #000;
}

.overlay-menu {
  background-color: #000000df;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* TOP OF SITE STYLE*/

section.top-of-site {
  padding: 40px 4%;
}

section.top-of-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.top-of-site .txt-top-site h3 {
  color: #fff;
  font-size: 20px;
}

.top-of-site .txt-top-site h1 {
  color: #fff;
  font-size: 38px;
}

.top-of-site .txt-top-site h1 span {
  color: #00ff08;
  font-size: 38px;
}

.top-of-site .txt-top-site p {
  color: #fff;
  margin: 40px 0
}

.top-of-site .txt-top-site .my-contact {
  margin: 30px 0
}

.img-top-site img {
  width: 420px;
  position: relative;
  animation: float 2s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* SPECIALTIES STYLE*/

section.specialties {
  padding: 60px 4%;
}

section.specialties .flex {
  gap: 60px;
}

.specialties .specialties-box {
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  width: 380px;
  transition: .2s;
  margin-top: 25px;
}

.specialties .specialties-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ffffff78;
}

.specialties .specialties-box i {
  font-size: 70px;
  color: #00ff08;
}

.specialties .specialties-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ABOUT STYLE */

section.about {
  padding: 60px 4%;
}

section.about .flex {
  align-items: center;
  gap: 60px;
}

.img-about img {
  width: 420px;
  border-radius: 100px;
}

.about .txt-about {
  color: #fff;
}

.about .txt-about h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.about .txt-about h2 span {
  color: #00ff08;
  display: block;
}

.about .txt-about p {
  margin: 20px 0;
}

/* PORTFOLIO STYLE */

section.portfolio {
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.overlay:hover {
  opacity: 1;
}

/* FORM STYLE */

section.contact-form {
  padding: 60px, 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  height: 170px;
}

form .to-send {
  margin-top: 20px;
  text-align: center;
}

form .to-send input {
  width: 120px;
  background-color: #00ff08;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/* BASEBOARD STYLE */

footer {
  margin-top: 80px;
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.last-line {
  border-top: 2px solid #00ff08;
}

footer .line-footer p i {
  color: #00ff08;
  font-size: 25px;
}

footer .line-footer p a {
  color: #fff;
}

/* RESPONSIVE STYLE */

@media screen and (max-width: 1020px) {

  /* GENERAL */
  .flex {
    flex-direction: column;
  }

  .social-media button {
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  h2.title {
    padding: 20px;
    font-size: 34px;
    line-height: 30px;
  }

  .logo i {
    height: 60px;
    width: 60px;
  }

  /* HEADER */
  .menu-desktop, .my-contact {
    display: none;
  }

  /* TOP OF SITE */
  .top-of-site .flex {
    flex-direction: column-reverse;
  }

  section.top-of-site .flex {
    gap: 60px;
  }

  section.top-of-site {
    padding: 20px 8%;
  }

  .top-of-site .txt-top-site h1 {
    font-size: 30px;
  }

  .img-top-site img {
    width: 100%;
  }

  /* PORTFOLIO */
  .img-port {
    margin-top: 60px;
  }

  /* SPECIALTIES STYLE*/
  section.specialties {
    padding: 40px 8%;
  }

  /* ABOUT */
  .about .flex {
    flex-direction: column-reverse;
  }

  section.about {
    padding: 60px 8%;
  }

  .about .txt-about h2 {
    font-size: 34px;
    line-height: 38px;
    text-align: center;
  }
  
  .img-about img{
    width: 100%;
  }

  /* PORTFOLIO */
  section.portfolio {
    padding: 60px 8%;
    box-shadow: 0 0 40px 10px #ffffff1d;
  }

  section.portfolio .flex {
    gap: 60px;
  }

  .img-port {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  /* BASEBOARD */

  footer .flex {
    gap: 40px;
  }

  footer .logo {
    text-align: center;
  }

  footer .social-media {
    text-align: center;
  }

  footer .last-line {
    text-align: center;
  }
}